<?php
	$searchStatus = C('order','searchStatus');
?>
<style>
.search-btn button{padding:0.5rem 0.5rem;margin:0 0.2rem;}
.lists-query button{margin:0;}
.lists-option button.on{background: red;color:#fff;}
</style>
<div class="lists-content content-order">
		<div class="lists-head">
				<h3>订单管理</h3>
		</div>
		<div class="lists-option frow">
				<div class="search-btn frow">
					<?php if( !empty( $searchStatus )): foreach( $searchStatus as $key => $val ): ?>
						<button class="query-control searchStatus <?php echo $key==0?'on':'';?> " data-type="checkbox" param-key="searchStatus" data-value="<?php echo $key;?>"><?php echo $val;?></button>
					<?php endforeach; endif; ?>
				</div>
		</div>

		<div class="lists-option frow">
				<?php 
					$optionNav = C('navigate','navFields','order','index',2);
					if( !empty( $optionNav )):foreach( $optionNav as $key => $val ): ?>
						<div class="option-btn popups-url" popups-url="{__<?php echo $val['class'].'/'.$val['method'];?>__}">
	                		<i class="iconfont"><?php echo $val['icon'];?></i><span><?php echo $val['name'];?></span>
            			</div>	
				<?php endforeach; endif; ?>
				<div class="frow lists-query">
				<div>
					 <select class="query-control" param-key="timefield" >
					 	<option value="deliveryTime">提货时间</option>
					 	<option value="rationStartTime">凭租开始时间</option>
					 	<option value="rationEndTime">凭租结束时间</option>
					 	<option value="ctime">下单时间</option>
					 </select>
				</div>
				<div>
					 <input class="query-control querystime" id="querystime" param-key="querystime" type="text" placeholder="开始时间范围" readonly="true" />
				</div>
				<div>
					 <input class="query-control queryetime" id="queryetime" param-key="queryetime" type="text" placeholder="结束时间范围" readonly="true" />
				</div>

				<div>
					 <select class="query-control" param-key="keyfield" >
					 	<option value="mobile">手机号</option>
					 	<option value="device">设备编号</option>
					 	<option value="orderSn">订单编号</option>
					 </select>
				</div>
				<div>
					 <input class="query-control" param-key="keyword" type="text" placeholder="请输入要搜索的内容" />
				</div>
				<div class="search-btn">
					 <button class="query-btn" data-formKey="query-control">确定</button>
				</div>
				</div>
		</div>
		<div class="lists-table data-table" data-url="{__order/table__}"></div>
</div>

