<?php 
	$orderSn 	=  Q('ordersn');
	Q('orderSn',$orderSn);
	$infoRes 	=  C('order','find');
	$info 	 	=  isset( $infoRes['data'] ) ? $infoRes['data'] : false; 
	$way  = isset( $info['way'] ) ? $info['way'] : 0;
	$tip = $way==0 ? '提货' : '发货';


	$title   	=  '订单:'.$orderSn.' '.$tip;
	$tabs 	 	=  array();
	$tabsIndex 	= '';
	echo V('common','popups_head',$orderSn,$title,$tabs,$tabsIndex); 

	$diffNum = $info['opNum']-$info['num'];

if( !empty( $info )):
	
	if( $info['state11']>0 || $info['state12']>0 ):
		echo '<div class="form-content">
		<div class="form-item trow">
			<div class="tcell textcenter" style="color:red;font-size:1.1rem;border-bottom:1px dashed #ddd;padding-bottom:0.5rem;"><span>还不能'.$tip.',请先确认调仓设备!</span></div>
		</div>';
		die;	
	endif;

	if( $diffNum<0 ):
		echo '<div class="form-content">
		<div class="form-item trow">
			<div class="tcell textcenter" style="color:red;font-size:1.1rem;border-bottom:1px dashed #ddd;padding-bottom:0.5rem;"><span>还不能'.$tip.',请先确认需要补仓设备!</span></div>
		</div>';
		die;	
	endif;

	if( $info['status']!=1 || ($info['ostatus']!=1&&$info['ostatus']!=2) ):
		echo '<div class="form-content">
		<div class="form-item trow">
			<div class="tcell textcenter" style="color:red;font-size:1.1rem;border-bottom:1px dashed #ddd;padding-bottom:0.5rem;"><span>该订单状态不能'.$tip.'</span></div>
		</div>';
		die;	
	endif;

	$trackingList = C('orderLog','logLists',$orderSn,'pickupStatus');
	$trackingData = isset( $trackingList[0] ) ? $trackingList[0] : false;
	if( !empty( $trackingData )){
		$tip = '确认货到';
	}
?>
<style>
.pickup .form-item{width:98%;}
.pickup .repickup{font-size: 0.8rem;padding: 0.2rem 0.4rem;margin-left: 0.5rem;}
 .tracking .tracking-item{text-align:center; background:#EBF5FC;margin-bottom:1rem;padding:0.5rem;}
 .tracking .ctime{font-weight:bold;}
 .tracking .title{margin-left:1rem;font-weight:bold;margin-right:1rem;}
 .tracking .logkey,.tracking .logvalue,.tracking .descTip,.tracking .descript{font-size:0.8rem;color:#8c8c8c;}
</style>
<div class="form-content">
		<div class="form-item trow">
			<div class="tcell textcenter" style="color:#8c8c8c;font-size:1.1rem;border-bottom:1px dashed #ddd;padding-bottom:0.5rem;"><span>请检查好设备并<?php echo $tip;?></span></div>
		</div>
		<div class="trow">
		    <!-- 订单信息 -->
			<div class="tcell w40" style="vertical-align: top;">
				<?php echo V('order','info',$info ); ?>
			</div>
			<!-- end -->
			<div class="tcell w60" style="vertical-align: top;">
				<div class="pickup">
						<div class="form-item trow">
							<div class="tcell item-title"><span><?php echo $tip;?>时间:</span></div>
							<div class="tcell item-content">
								<input class="form-control" id="pickupTime" param-key="time" placeholder="请输入<?php echo $tip;?>时间" value="<?php echo date('Y-m-d H:i',time());?>"  readonly>
							</div>
							<div class="tcell item-descript"><span class="note"></span></div>
						</div>
						<?php if( $info['way'] == 1 ): ?>
							  <?php if( !empty( $trackingData )): ?>
							  		<div class="form-item trow">
										<div class="tcell item-title"><span><?php echo $tip;?>运单号:</span></div>
										<div class="tcell item-content">
											<div class="frow">
												<div><?php echo $trackingData['logValue'];?></div>
												<div><button class="repickup popups-url" param-orderSn="<?php echo $orderSn;?>" popups-url="{__order/rePickup__}" win-width="80%" win-height="80%" win-top="10%" win-left="10%"  >有误重发</button></div>
												
											</div>
										<input type="hidden" data-type="text" class="form-control" param-key="tracking" placeholder="请输入运单号" value="<?php echo $trackingData['logValue'];?>" />
										</div>
										<div class="tcell item-descript"><span class="note"></span></div>
									</div>
									<div class="form-item trow">
										<div class="tcell item-title"><span>状态:</span></div>
										<div class="tcell item-content">
											<select class="form-control" param-key="xstatus">
													<option value="1">确认货到</option>
											</select>
										</div>
										<div class="tcell item-descript"><span class="note"></span></div>
									</div>
							  <?php else: ?>
							  		<div class="form-item trow">
										<div class="tcell item-title"><span><?php echo $tip;?>运单号:</span></div>
										<div class="tcell item-content">
											<input class="form-control" param-key="tracking" placeholder="请输入运单号" value="" />
										</div>
										<div class="tcell item-descript"><span class="note"></span></div>
									</div>
									<div class="form-item trow">
										<div class="tcell item-title"><span>状态:</span></div>
										<div class="tcell item-content">
											<select class="form-control" param-key="xstatus">
													<option value="0">发货</option>
											</select>
										</div>
										<div class="tcell item-descript"><span class="note"></span></div>
									</div>
							  <?php endif; ?>

						<?php endif; ?>
						<div class="form-item trow">
							<div class="tcell item-title"><span><?php echo $tip;?>备注:</span></div>
							<div class="tcell item-content">
								<textarea class="form-control" param-key="desc" placeholder="请输入<?php echo $tip;?>备注信息" ></textarea>
							</div>
							<div class="tcell item-descript"><span class="note"></span></div>
						</div>

						<?php if( !empty( $trackingList )): ?>
							<!-- 追踪记录 -->
						<div class="form-item trow">
							<div class="tcell item-title"><span>发货信息:</span></div>
							<div class="tcell item-content tracking">
								<?php foreach( $trackingList as $key => $val ): ?>
										<div class="tracking-item">
												<div class="frow">
												<div class="ctime"><?php echo date('Y-m-d H:i',$val['ctime'] ); ?></div>
												<div class="title"><?php echo $val['title']; ?></div>
												<!-- <div class="accountname"><?php echo $val['accountName']; ?></div> -->
												</div>
												<?php if( !empty( $val['logValue'] ) ): ?>
												<div class="frow">
													<div class="logkey"><?php echo $val['logKey'];?>:</div>
													<div class="logvalue"><?php echo $val['logValue'];?></div>
												</div>
												<?php endif; ?>

												<?php if( !empty( $val['descript'] ) ): ?>
													<div class="frow">
													<div class="descTip">备注:</div>
													<div class="descript"><?php echo $val['descript']; ?></div>
													</div>
												<?php endif; ?>
										</div>
								<?php endforeach; ?>
							</div>
							<div class="tcell item-descript"><span class="note"></span></div>
						</div>	
						<?php endif; ?>
				</div>
			</div>
		</div>

</div>
<?php 
	endif;
	echo V('common','popups_footer',array('save'=>array('title'=>$tip,'url'=>'{__order/pickupStatus__}','where'=>array('orderSn'=>$orderSn),'statusClose'=>1),)); 
?>
<script>
 (function($){
 	$.cssLoader("__ASSETS__/css/jedate.css");
 	$.jsLoader("__ASSETS__/js/jedate.js?v={TIME}",function(){
 			jeDate("#pickupTime",{
            	format:"YYYY-MM-DD hh:mm",
            	isTime:true,
            	isShow:true,
            	fixed:true,
            	minDate:jeDate.nowDate({DD:0}),
            	//maxDate: jeDate.nowDate({DD:0}), //设定最大日期为当前日期
        	})
 	});
 })(model);
</script>

