<?php 
	$orderSn 	=  Q('ordersn');
	Q('orderSn',$orderSn);
	$infoRes 	=  C('order','find');
	$info 	 	=  isset( $infoRes['data'] ) ? $infoRes['data'] : false; 
	$title   	=  '订单:'.$orderSn.' 修改状态';
	$tabs 	 	=  array();
	$tabsIndex 	= '';
	echo V('common','popups_head',$orderSn,$title,$tabs,$tabsIndex); 
	$statusList = C('order','deviceStatus');
if( !empty( $info )):
?>
<div class="form-content">

		<div class="form-item trow">
			<div class="tcell item-title"><span>当前状态:</span></div>
			<div class="tcell item-content">
				<?php echo C('order','deviceStatus',$info['ostatus']);?>
			</div>
			<div class="tcell item-descript"><span class="note"></span></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>修改状态:</span></div>
			<div class="tcell item-content">
				<select class="form-control" param-key="status">
					<?php if( !empty( $statusList )): foreach( $statusList as $key => $val ): ?>
						<option value="<?php echo $key;?>"><?php echo $val;?></option>
					<?php endforeach; endif; ?>
				</select>
			</div>
			<div class="tcell item-descript"><span class="note"></span></div>
		</div>

</div>
<?php 
	endif;
	echo V('common','popups_footer',array('save'=>array('title'=>'保存','url'=>'{__order/saveStatus__}','where'=>array('orderSn'=>$orderSn)),)); 
?>
<?php echo V('common','form_image_js'); ?>

