<!DOCTYPE html>
<html>
<head>
	<?php echo V('common','head'); ?>
</head>
<body>
	<?php echo V('common','header'); ?>

	<div class="fullscreen wrap-content hasheader">
		<div class="trow">
			<div class="navigate noselect tcell texttop fixed-left">
					<?php echo V('common','navigate'); ?>
			</div>
			
			<div class="content tcell texttop fixed-right">
					<?php echo V('account','index_content'); ?>
			</div>
		</div>
	</div>
	<!-- 底部页脚END -->
	<?php echo V('common','foot');?>
	<?php echo V('common','lists_js'); ?>
</body>
</html>