<?php 
	$uuid  = Q('uuid');
	$infoRes =  C('account','find',$uuid);
	$info 	 	=  isset( $infoRes['data'] ) ? $infoRes['data'] : false;
	$title   =  $info['name'];
	$tabs = array();
	$optionNav = C('navigate','navFields','account','index',3);
	if( !empty( $optionNav )){
			foreach( $optionNav as $key => $val ){
				$tabs[$val['method']] = array('title'=>$val['name'],'url'=>"{__{$val['class']}/{$val['method']}__}");
			}
	}
	$tabsIndex='password';
	echo V('common','popups_head',$uuid,$title,$tabs,$tabsIndex); 
?>
<div class="form-content">
		<div class="form-item trow">
			<div class="tcell item-title"><span>密码:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="password" type="password" minlength=6 maxlength=30 placeholder="请输入密码" />
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>
		<div class="form-item trow">
			<div class="tcell item-title"><span>确认密码:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="confirm" type="password" minlength=6 maxlength=30 placeholder="确认密码" />
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>
</div>
<?php echo V('common','popups_footer',array('save'=>array('title'=>'更新密码','url'=>'{__account/save__}','where'=>array('uuid'=>$uuid),'statusClose'=>1),)); ?>