<?php 
	$uuid 	 =  Q('uuid');
	$infoRes =  C('device','find');
	$info 	 =  isset( $infoRes['data'] ) ? $infoRes['data'] : false;
	$title   =  $info['name'];
	$tabs	 = array();
	$optionNav = C('navigate','navFields','device','index',3);
	if( !empty( $optionNav )){
			foreach( $optionNav as $key => $val ){
				$tabs[$val['method']] = array('title'=>$val['name'],'url'=>"{__{$val['class']}/{$val['method']}__}");
			}
	}
	$tabsIndex='edit';
	echo V('common','popups_head',$uuid,$title,$tabs,$tabsIndex); 
if( !empty( $info )):
	$deviceStatus = C('device','statusList');
?>

<div class="form-content">


		<div class="form-item trow">
			<div class="tcell item-title"><span>所属仓库:</span></div>
			<div class="tcell item-content">
					<?php echo $info['warehouseName'];?>
			</div>
			<div class="tcell item-descript"></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>所属类目:</span></div>
			<div class="tcell item-content">
						<?php echo $info['classifyName'];?>
			</div>
			<div class="tcell item-descript"></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>设备名称:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="name" type="text"  placeholder="" value="<?php echo $info['name'];?>" />
			</div>
			<div class="tcell item-descript"><span class="note">(*必填)</span></div>
		</div>
		<div class="form-item trow">
			<div class="tcell item-title"><span>设备编号:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="barcode" type="text"  placeholder="" value="<?php echo $info['barcode'];?>" />
			</div>
			<div class="tcell item-descript"><span class="note"></span></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>采购时间:</span></div>
			<div class="tcell item-content">
				<input class="form-control" id="buyerTime" param-key="buyerTime" placeholder="请选择采购时间" value="<?php echo !empty($info['buyerTime'])? date('Y-m-d H:i',$info['buyerTime']) : '';?>"  readonly>
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>价格:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="price" type="text"  placeholder="请输入价格" value="<?php echo $info['price']/100;?>" />
			</div>
			<div class="tcell item-descript"><span>元/天(整数最多6位,小数最多两位)</span></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>排序:</span></div>
			<div class="tcell item-content">
				<input class="form-control" param-key="sort"  type="text" placeholder="帐号排序" value="<?php echo $info['sort'];?>" />
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>
		<div class="form-item trow">
			<div class="tcell item-title"><span>状态:</span></div>
			<div class="tcell item-content">
					<select class="form-control" param-key="status">
							<?php foreach( $deviceStatus as $key => $val ): ?>
								<option value="<?php echo $key;?>" <?php echo $info['status']==$key?'selected':'';?> ><?php echo $val;?></option>
							<?php endforeach; ?>
					</select>
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>

		<div class="form-item trow">
			<div class="tcell item-title"><span>创建时间:</span></div>
			<div class="tcell item-content">
				<?php echo date('Y-m-d H:i',$info['ctime'] ); ?>
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>
		<div class="form-item trow">
			<div class="tcell item-title"><span>更新时间:</span></div>
			<div class="tcell item-content">
				<?php echo date('Y-m-d H:i',$info['mtime'] ); ?>
			</div>
			<div class="tcell item-descript"><span></span></div>
		</div>

</div>
<?php endif; ?>
<?php echo V('common','popups_footer',array('save'=>array('title'=>'保存','url'=>'{__device/save__}','statusClose'=>1,'where'=>array('uuid'=>$uuid)))); ?>
<script>
 (function($){
 	$.cssLoader("__ASSETS__/css/jedate.css");
 	$.jsLoader("__ASSETS__/js/jedate.js?v={TIME}",function(){
 			jeDate("#buyerTime",{
            	format:"YYYY-MM-DD hh:mm",
            	isTime:true,
            	isShow:true,
            	fixed:true,
            	minDate:"2010-01-01 00:00:00",
            	//maxDate: jeDate.nowDate({DD:0}), //设定最大日期为当前日期
        	})
 	});
 })(model);
</script>

