<?php
	$uri   = M('Service','parseURI');
	$uriKey = isset( $uri['uriKey'] ) ? $uri['uriKey']:false;
	$uriValue = isset( $uri['uriValue'] ) ? $uri['uriValue'] : false;
?>
<script type="text/javascript" src="__ASSETS__/js/model.js?v={TIME}"></script>
<script type="text/javascript">

(function($){
	
	openActive();
	openDropdown();

	$.ready(function(){ 
			//navigate();
			dataUrl();
			logout();
	});
	function dataUrl(){
		$("body").on('click','.data-url',function(){
				var url  = this.getAttribute('data-url');
					url = url || '';
					if(url==''||url==null){
							return false;
					}
				var data = {};	
					data = $(this).queryParam();
					$.open(url,data);
		});
	}
	function logout(){
		$('.header-top').on('click','.logout',function(){ 
				$.open("{__login/out__}");
		});
	}

	/*装载导航*/
	function navigate(){
			var url="{__navigate/navTree__}",d={};
				d['uriKey'] = "<?php echo $uriKey;?>";
				d['uriValue']="<?php echo $uriValue;?>";
			$.ajax(url,{dataType:'json',data:d,async:true,type:'post',timeout:2000,
					success:function(rs){
							var data = rs || {};
							if( $.isEmptyObject(data) ){
									return false;
							}
							for(var i in data){
									navItem(data[i]);
							}
							dataUrl();
							openActive();
							openDropdown();
					},
					error:function(){
							$.notice("网络异常,导航载入失败,刷新重试");
					}

			});
	}
	function navItem(group){
			if($.isEmptyObject(group)){
						return false;
			}
			var uriKey = "<?php echo $uriKey;?>";
			var uriValue="<?php echo $uriValue;?>";
			var uri,cla,mth,name,parent,sort,icon='',describe='',cls,cls_icon,active='';
			for(var i in group){
					try{
						item  	 = group[i];
						uri      = item.uri || '';
						cla      = item.class || '';
						mth      = item.method || '';
						name   	 = item.name || '';
						parent   = item.parent || 0;
						sort   	 = item.sort || 0;
						icon   	 = item.icon || '';
						describe = item.describe || '';
					}catch(e){}					
					cls = ".navigate-list-"+parent;
					cls_icon = ".navigate-icon-"+parent;
					active = uriKey==cla&&uriValue==mth ? ' active' : '';
					var xsl = '';
						xsl += '<div class="nav-item'+active+'">';
						xsl += '<div class="frow frow-between navigate-head data-url" data-url="'+uri+'">';
						xsl += '<div class="frow">';
						xsl += '<div class="iconfont">'+icon+'</div>';
						xsl += '<div class="nav-title">'+name+'</div>';
						xsl += '</div>';
						xsl += '<div class="arrow iconfont navigate-icon-'+sort+'"></div>';
						xsl += '</div>';
						xsl += '<div class="navigate-dropdown navigate-list-'+sort+'" data-sort="'+sort+'" >';
						xsl += '</div>';
						xsl += '</div>';
					$(cls).append(xsl);
					$(cls_icon).html('&#xe64c;');
			}
	}
	function openActive(){
		$('.navigate-list-0 .active').each(function(index,item){
				var parent = item.parentNode;
				var parentSort = parent.getAttribute('data-sort');
				    parent.classList.add('open');
				$('.navigate-icon-'+parentSort).html('&#xe636;');
		});
	}
	function openDropdown(){
			$('.navigate-list-0').on('click','.nav-item',function(){
						var dropdown =  this.querySelector('.navigate-dropdown');
						var sort     = dropdown.getAttribute('data-sort');
						if(this.classList.contains('open')){
								this.classList.remove('open');
								dropdown.classList.remove('open');
								$('.navigate-icon-'+sort).html('&#xe64c;');

						}else{
								this.classList.add('open');
								dropdown.classList.add('open');
								$('.navigate-icon-'+sort).html('&#xe636;');
						}
			});
	}

})(model);

</script>